@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 
    linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

/* Add this new style for the background pattern */
.bg-pattern {
  background-color: #f0f4f8;
  background-image: 
    radial-gradient(#d1d5db 1px, transparent 1px),
    radial-gradient(#d1d5db 1px, #f0f4f8 1px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
